* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}
html, body { height: 100% }
div { position: relative }
body > div {
  height: 100%;
  margin-right: -4px;
  display: inline-block;
  vertical-align: top;
}

#header {
  width: 430px;
  border-right: 1px solid #000;
}

#header .menubar {
  position: absolute;
  top: 0; right: 0;
  background: white;
  width: 40px;
  height: 100%;
  transition: width 0.25s;
  border-left: 1px solid #000;
  display: inline-block;
  overflow: hidden;
}

#header .menubar:hover {
  width: 430px;
}

#header .menubar .itemlist {
  position: absolute;
  top: 0em; left: 0; bottom: 0;
  width: 200px;
  padding: 1em;
  display: inline-block;
  opacity: 0;
  pointer-events: none;
}

#header .menubar:hover .itemlist {
  opacity: 1;
  padding: 1em;
  transition: opacity .25s;
  pointer-events: all;
  font-family: Times;
  font-size: 1.3em;
}

#header .menubar .itemlist p {
  width: 430px;
  font-family: Times New Roman;
  font-size: 1.3em;
}

#header .menubar .itemlist ul {
  margin-bottom: 1.5em;
  list-style-type: none;
}

#header .menubar .itemlist a {
  color: #000;
  text-decoration: none;
}

#header .menubar .itemlist a:hover,
#header .menubar .itemlist a:active,
#header .menubar .itemlist a.selected {
  text-decoration: underline;
}

#content {
  width: calc(100% - 430px);
  padding: 0;
  margin: 0;
}
 
div.spacemap-img{
   width: 40vw;
   height: 40vw;
   opacity: 0.5;
}

div.spacemap-img img{
  width: 65vw;

}

div.spacemap{
  position: absolute;
  display: block;
  background-color: #0F0;
  width: 40vw;
  height: 40vw;
  top: 0;left: 0;
  opacity: 0.5;
  z-index: 2;
}

/* pins */

.pins-style{
  position: absolute;
  overflow: hidden;
}

.pins-style-kitchen{
  left: 0;
  bottom: 0;
  width: 10%;
  height: 43%;
  background-color: #FF0;
}

.pins-style-sofa{
  left: 46.75%;
  top: 8.5%;
  width: 15%;
  height: 15%;
  border-radius: 100%;
  background-color: #FF0;
}
.pins-style a{
  display: block;
  width: 100%;
  height: 100%;
  background-color: #FF0;
}




