* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}
html, body { height: 100% }
div { position: relative }
body > div {
  height: 100%;
  display: inline-block;
  vertical-align: top;
}
*,
*:before,
*:after {box-sizing: border-box;}

.line {
  float: right;
  width: 100%;  
}

.header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 10em;
  color: white;
}

/*====================
all site links
=====================*/
//*
a:link {
  font-weight: 500;
  color: #004145;
  background: transparent;
  text-decoration: underline;
}

a:visited {
  font-weight: 500;
  color: #000000;
  background: transparent;
  padding: 0px;
  text-decoration: underline;
}

a:hover {
  font-weight: 500;
  text-decoration : none;
  background: #C8DEC8;
  color: #000000;
}

a:active {
  font-weight: 500;
  text-decoration : underline;
  color: #000000;
}
/*===============================
Wrapper for three content columns
================================*/

.columns-wrapper {
  clear: both;
}

.content {
  display: relative;
  justify-content: center;
}

/*====================== 
styles for main content area 
=========================*/
 
.spacemap-img{
  display: flex;
  justify-content: center;
  text-align: left;
  vertical-align: top;
  width: 40vw;
  height: 40vw;
  opacity: 0.5;
}

.spacemap-img img{
  width: 50vw;
  height: 50vw;
}

.spacemap{
  position: absolute;
  display: block;
  background-color: #0F0;
  width: 40vw;
  height: 40vw;
  top: 0;left: 0;
  opacity: 0.5;
  z-index: 2;
}

/* pins */

.pins-style{
  position: absolute;
  overflow: hidden;
}

.pins-style-kitchen{
  left: 0;
  bottom: 0;
  width: 10%;
  height: 43%;
  background-color: #FF0;
}

.pins-style-sofa{
  left: 46.75%;
  top: 8.5%;
  width: 15%;
  height: 15%;
  border-radius: 100%;
  background-color: #FF0;
}
.pins-style a{
  display: block;
  width: 100%;
  height: 100%;
  background-color: #FF0;
}

/* ***********************************
Navigation Bar - Right hand side 
************************************* */

.rightcol {
  position: fixed;
  color: #000;
  padding: 10px;
  margin: 10px;
  border: 2px solid #485E48;
  float: right;
  background-color: #ffffff;
  width: 200px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

.rightcol ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 0; /*bottom spacing between each UL and rest of content*/
}

.rightcol ul li {
  padding-bottom: 2px; /*bottom spacing between menu items*/
}

.rightcol ul li a {
  font: normal .85em Arial;
  color: #000000;
  display: block;
  padding: 5px 0;
  line-height: 17px;
  padding-left: 30px;
  text-decoration: none;
  background: url('http://www.genealogy-web-creations.com/css-layouts/three-column/images/054081-rounded-glossy-black-icon-natural-wonders-flower-cauliflower.png') no-repeat 8px 6px;
}

.rightcol ul li a:visited {
  color: #000000;
}
.rightcol ul li a:hover {
  color: #000000;
  background: #A3CEA3 url('http://www.genealogy-web-creations.com/css-layouts/three-column/images/054081-rounded-glossy-black-icon-natural-wonders-flower-cauliflower.png') no-repeat 8px 6px;
}

