@charset "UTF-8";

* {
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body { height: 100% }
div { position: relative }
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  color: #000000;
  cursor: url(file:///Users/dahseuljung/Desktop/Thesis/go-theses-22-dahseul-jung/keykey.png) 4 12,auto;
}
/*==========================
indicates no border around any image 
============================*/
body img {
  border: 0px;
  text-decoration: none;
}

/* ================================= 
Page container - margins auto center the container on the page 
=====================================*/
#container {
  position: relative;
  padding: 0;
  max-width: 100%;
  max-height: 0;

}
/*====================== 
styles for top banner 
========================*/
#banner {
  position: relative;
  margin-right: calc(25% + 1px);
  height: 100%; 
  padding: 1%;
  background-repeat: no-repeat;
  color: black;
  column-gap: 0px;
}

#banner h {
  font-family: Arial;
  font-weight: bold;
  font-size: 0.8em;
  text-align: center;
  background-color: black;
  color: white;
  padding: 2px;
  padding-left: 4px;
  padding-right: 4px;
}

#banner by{
   font-family: inconsolata;
   font-size: 0.8em;
}

#banner by a {
   font-style: italic;
   text-decoration: none;
}

#banner p {
  font-family: times new roman;
  columns: 2;
  font-weight: normal;
  font-size: 0.8em;
}

/*====================== 
styles for main content area 
=========================*/
#content {
  position: absolute;
  height: 100%;
  width: 100%;
  padding-right: calc(25% - 1px);
  height: auto;
}

/*======================
content area list items
========================*/
div.spacemap-img {
  margin: 0;
  width: 100%;
  height: 100%;
}


div.spacemap-img img{
  display: block;
  margin-left: auto;
  margin-right: auto;  
  padding: 3%;
  width: 36vw;
}

div.spacemap-flag{
  position: absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 32vw;
  height: 29vw;
  top: 7%;
  left: 21.5%;
  opacity: 0.5;
  z-index: 2;
}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

/*======================
pins
========================*/
.pins-style{
  position: absolute;
  overflow: hidden;
}

.pins-style-door{
  left: 2.5%;
  top: 33%;
  bottom: 0;
  width: 13%;
  height: 12.7%;
  border-radius: 5% 90% 0 0;
}

.pins-style-door:hover{
  background-color: grey;
}

.pins-style-kitchen{
  left: 4.3%;
  top: 4.5%;
  bottom: 0;
  width: 34%;
  height: 14%;
}

.pins-style-kitchen:hover{
  opacity: none;
  background-color: grey;
}

.pins-style-desk{
  left: 56.5%;
  top: 20.3%;
  bottom: 0;
  width: 25.5%;
  height: 20.5%;
}

.pins-style-desk:hover{
  opacity: none;
  background-color: grey;
}

.pins-style-bookcase{
  left: 87.7%;
  top: 12.5%;
  bottom: 0;
  width: 5.8%;
  height: 18%;
}

.pins-style-bookcase:hover{
  opacity: none;
  background-color: grey;
}

.pins-style-stand{
  left: 86%;
  top: 41%;
  bottom: 0;
  width: 6%;
  height: 7%;
  border-radius: 100%;
}

.pins-style-stand:hover{
  opacity: none;
  background-color: grey;
}

.pins-style-sofa{
  left: 81%;
  top: 54%;
  width: 10%;
  height: 10%;
  transform: rotate(166deg);
}

.pins-style-sofa:hover{
  opacity: none;
  background-color: grey;
}

.pins-style-window{
  left: 92%;
  bottom: 7%;
  width: 7%;
  height: 51.5%;
}

.pins-style-window:hover{
  opacity: none;
  background-color: grey;
}

.pins-style-bed{
  left: 35.8%;
  width: 46.3%;
  height: 23.5%;
  bottom: 4.5%;
  border-radius: 15px;
}

.pins-style-bed:hover{
  opacity: none;
  background-color: grey;
}

.pins-style-closet{
  left: 35.8%;
  width: 32%;
  height: 8%;
  bottom: 27%;
}

.pins-style-closet:hover{
  opacity: none;
  background-color: grey;
}

.pins-style-toilet{
  left: 22.8%;
  bottom: 4.5%;
  width: 8%;
  height: 11%;
  border-radius: 50% 50% 0 0%;
}

.pins-style-toilet:hover{
  opacity: none;
  background-color: grey;
}

.pins-style-sink{
  left: 4.3%;
  top: 65%;
  width: 6.8%;
  height: 12%;
}

.pins-style-sink:hover{
  opacity: none;
  background-color: grey;
}

.pins-style-shower{
  left: 4.4%;
  bottom: 4.4%;
  width: 15.5%;
  height: 16.2%;
}

.pins-style-shower:hover{
  opacity: none;
  background-color: grey;
}

.pins-style a{
  display: block;
  width: 100%;
  height: 100%;
}

/* ***********************************
Navigation Bar - Right hand side 
************************************* */
#rightcol {
  flex: 1;
  overflow-y: scroll;
  height: 92%;
  width: 24%;
  z-index: 1;
  top: 0;
  left: 0;
  padding: 0;
  border-left: 10px solid #000;
  float: right;
}

#rightcol p{
  padding: 0;
  margin: 0;
  margin-left: 2%;
  margin-top: 2%;
  margin-right: 2%;
  padding-bottom: 2%;
  font-family: courier;
  font-size: 0.8em;
  line-height: 110%;
  border-bottom: 2px dashed; #000;
}

#rightcol .box {
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 1%;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
  border-bottom: 1px solid #000;
  list-style-type: none;
  text-decoration: none; 
}

#rightcol .box a{
  text-decoration: none;
}

#rightcol .box a c {
  font-family: arial;
  font-weight: bold;
  font-size: 0.7em;
  color: white;
  background-color: black;
  padding: 2px;
}

#rightcol .box a t {
  font-family: arial;
  font-weight: normal;
  font-size: 0.9em;
  text-align: left;
}

#rightcol .box:hover{
  background-color: #CECECE;
  color: white;
}

#rightcol .box a t:hover{
  color: black;
}

#footer {
  position: fixed;
  width: 100%;
  height: 8%;
  bottom: 0;
  padding: 1%;
  border-top: 1px solid #242F24;
  background-color: black;
  column-count: 4;
  text-align: left;
}

#footer p {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: arial;
  font-weight: bold;
  font-size: 0.7em;
  color: #CECECE;

}

#footer i {
  font-style: italic;
}

#footer a{
  font-weight: normal;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

/*================== 
general styles 
=================*/
hr {
  width: 90%;
  text-align: center;
  background-color: #004145;
  height: 5px;
}
/*================
general styles
==============*/
.center {
  text-align: center;
}
.no-margin {
  margin: 0px;
}
.smtxt {
  font-size: small;
}
/* ============
floats images to right or left or centered
============*/
.imgrgt {
  float: right;
  padding: 7px;
}
.imglft {
  float: left;
  padding: 7px;
}
.imgctr {
  display: block;
  margin: 0px auto;
}

/*====================
all site links
=====================*/
a:link {
  font-weight: 500;
  text-decoration: underline;
  color: black;
}
a:visited {
  font-weight: 500;
  color: black;
  padding: 0px;
  text-decoration: underline;
}

a:active {
  color: black;
  font-weight: 500;
  text-decoration : underline;

}

@media screen and (max-width: 800px) {


#banner {
  position: relative;
  margin:0;
  padding-top: 3%;
  padding-left: 3%;
  text-align: left;
}

#banner by{
   font-family: arial;
   font-size: 0.8em;
}

#content {
  position: relative;
  height: 70%;
  width: 100%;
  padding: 0;
  padding-top: 15%;
  height: auto;
}

div.spacemap-img {
  margin: 0;
  width: 100%;
  height: 100%;
}

div.spacemap-img img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 3%;
  width: 60vw;
}

div.spacemap-flag{
  width: 52vw;
  height: 47vw;
  top: 28%;
  left: 24%;
  background-color: yellow;
}

.pins-style{
  position: absolute;
  overflow: hidden;
  background-color: grey;
}

.pins-style-door{
  left: 0.5%;
  top: 32.5%;
  bottom: 0;
  width: 13.5%;
  height: 12.7%;
  border-radius: 5% 90% 0 0;
}

.pins-style-door:hover{
  background-color: grey;
}

.pins-style-kitchen{
  left: 2.5%;
  top: 2.7%;
  bottom: 0;
  width: 35%;
  height: 14%;
}

.pins-style-kitchen:hover{
  opacity: none;
  background-color: grey;
}

.pins-style-desk{
  left: 57%;
  top: 19.5%;
  bottom: 0;
  width: 26.3%;
  height: 20.5%;
}

.pins-style-desk:hover{
  opacity: none;
  background-color: grey;
}

.pins-style-bookcase{
  left: 89.7%;
  top: 11%;
  bottom: 0;
  width: 5.8%;
  height: 18%;
}

.pins-style-bookcase:hover{
  opacity: none;
  background-color: grey;
}

.pins-style-stand{
  left: 87.5%;
  top: 40.5%;
  bottom: 0;
  width: 6%;
  height: 7%;
  border-radius: 100%;
}

.pins-style-stand:hover{
  opacity: none;
  background-color: grey;
}

.pins-style-sofa{
  left: 82.3%;
  top: 54.5%;
  width: 10%;
  height: 10%;
  transform: rotate(166deg);
}

.pins-style-sofa:hover{
  opacity: none;
  background-color: grey;
}

.pins-style-window{
  left: 95%;
  bottom: 5.2%;
  width: 7%;
  height: 54%;
}

.pins-style-window:hover{
  opacity: none;
  background-color: grey;
}

.pins-style-bed{
  left: 35%;
  width: 48.5%;
  height: 23.5%;
  bottom: 3%;
  border-radius: 12px;
}

.pins-style-bed:hover{
  opacity: none;
  background-color: grey;
}

.pins-style-closet{
  left: 35%;
  width: 33.5%;
  height: 7%;
  bottom: 27%;
}

.pins-style-closet:hover{
  opacity: none;
  background-color: grey;
}

.pins-style-toilet{
  left: 22.6%;
  bottom: 3%;
  width: 6.5%;
  height: 12%;
  border-radius: 50% 50% 0 0%;
}

.pins-style-toilet:hover{
  opacity: none;
  background-color: grey;
}

.pins-style-sink{
  left: 2.8%;
  top: 66%;
  width: 6.6%;
  height: 12%;
}

.pins-style-sink:hover{
  opacity: none;
  background-color: grey;
}

.pins-style-shower{
  left: 2.8%;
  bottom: 2.8%;
  width: 15.8%;
  height: 16.5%;
}


#rightcol { 
  background-color: blue;
  display: inline;
  margin-left: auto;
  margin-right: auto;
  top: 60%;
  height: 30%;
  width: 100%;
  border-left: solid 10px black;
  border-right: solid 10px black;
  border-top: solid 10px black;
  float: left;
}

#rightcol p{
  padding: 0;
  margin: 0;
  margin-left: 2%;
  margin-top: 2%;
  margin-right: 2%;
  padding-bottom: 2%;
  font-family: inconsolata;
  font-size: 0.8em;
  line-height: 110%;
  border-bottom: 2px dashed; #000;
}

#rightcol .box {
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 1%;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
  border-bottom: 1px solid #000;
  list-style-type: none;
  text-decoration: none; 
}

#rightcol .box a{
  text-decoration: none;
}

#rightcol .box a c {
  font-family: arial;
  font-weight: bold;
  font-size: 0.7em;
  color: white;
  background-color: black;
  padding: 2px;
}

#rightcol .box a t {
  font-family: arial;
  font-weight: normal;
  font-size: 0.9em;
  text-align: left;
}

#rightcol .box:hover{
  background-color: #CECECE;
  color: white;
}

#rightcol .box a t:hover{
  color: black;
}


#footer {
  position: fixed;
  width: 100%;
  height: 10%;
  bottom: 0;
  padding: 1%;
  border-top: 1px solid #242F24;
  background-color: black;
  column-count: 4;
  text-align: left;
}

#footer p {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: arial;
  font-weight: bold;
  font-size: 0.7em;
  color: #CECECE;

}

#footer i {
  font-style: italic;
}

#footer a{
  font-weight: normal;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

}






